$theme-colors: (
  "green1": #132A13,
  "green2": #31572C,
  "green3": #4F772D,
  "green4": #90A955,
  "beige": #ECF39E
);

$body-bg: #4F772D;
$body-color: #ECF39E;
$navbar-dark-brand-color: #ECF39E;
$navbar-dark-color: #ECF39E;
$navbar-dark-brand-hover-color: #ECF39E;
$table-bg: #31572C;
$table-border-color: #132A13;
$card-bg: #31572C;



@import "../node_modules/bootstrap/scss/bootstrap";

td, th{
  text-align: center;
  vertical-align: middle;
}

input {
  background-color: #ECF39E;
  color: #4F772D;
  border: none;
  border-radius: 5px;
}